/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$backgraund-color: lighten(#04A7A5,10%);
$base-color: lighten(#04A7A5, 10%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color: lighten(#04A7A5,10%);

